.hamburger-container{
    /* border: 2px solid red ; */
    width:3rem;
    padding:5px;
    right:8vw;
    position:fixed;
    top:2vh;
    /* height:3rem; */
    z-index: 100;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
}


.hamburger-icon{
    background-color:aquamarine;
    width:2.5rem;
    height:0.22rem;
    padding: 5px 0;
    margin:5px 0 2px 0;
    
}

@media (min-width:767px) {
.hamburger-container{
    display:none;
}
    
}