nav.right-nav{
    display: flex;
    width:60%;
    height: 100%;
    top:0;
    right:-450px;
    position:fixed;
    justify-content: center;
    align-items: center;
    z-index: 50;
    transition: all 0.5s ease-in-out;
    flex-flow: column nowrap;
}

.right-nav.open{
    background: darkgrey;
    right:0;
    transition: all 0.5s ease-out;
}

.right-nav-links-container{
    display: flex;
    flex-direction: column;

}

li.right-nav-link {
    color:red;
    text-align: left;
    width: 60vw;
    height: 4rem;
    z-index: 50;
    left:-600px !important ;
}

